# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Some of Popular languages for Data Science
- Some of commonly used libraries used by Data Scientist
- Data Science Tools
- Simple Arithmetic expression in Python
- Convert Minutes to Hours with Python

## Author
## Fajar Hari Nugraha

Some of popular languages that Data Science use are:
1. Python
2. R
3. SQL

Some of commonly used libraries used by Data Scientist include:

1. TensorFlow
2. Numpy
3. Pandas

| Data Science Tools |
| ------------------ |
| IBM Watson Studio Desktop |
| Apache Spark |
| Scikit-learn |

### Below are a few examples of evaluaring arithmetic expressions in Python

In [10]:
(3*4)+5

# This is a simple arithmetic expression to multiply then add integers.

17

In [37]:
min_to_hr = 200/60
result = round(min_to_hr, 2)
print("200 minutes is same as " + str(result) + " hours")


# This will convert 200 minutes to hours by diving by 60.

200 minutes is same as 3.33 hours